{% extends "template.html" %}
{% block conteudo %}
        <a class="btn btn-primary" href="{{ url_for('novo')}}">Novo Jogo</a>

        <a class="btn btn-danger" href="{{ url_for('logout')}}">Sair</a>

        <table class="table table-striped table-responsive table=bordered">
            <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Cateogoria</th>
                <th>Plataforma</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            {% for jogo in jogos: %}
            <tr>
                <td> {{ jogo.get_nome() }} </td>
                <td> {{ jogo.get_categoria() }} </td>
                <td> {{ jogo.get_plataforma() }} </td>
                <td>
                    <a href="{{ url_for('editar',id=jogo.get_id()) }}" >Editar</a>
                    <a href="{{ url_for('deletar', id=jogo.get_id()) }}" >Excluir</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}