{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table=bordered">
            <thead class="thead-default">
            <tr>
                <th>Nome</th>
                <th>Cateogoria</th>
                <th>Plataforma</th>
            </tr>
            </thead>
            <tbody>
            {% for jogo in jogos: %}
            <tr>
                <td> {{ jogo.get_nome() }} </td>
                <td> {{ jogo.get_categoria() }} </td>
                <td> {{ jogo.get_plataforma() }} </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}